@model SmkLab.Models.Student

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.jurusan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.jurusan)
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
