@model IEnumerable<SmkLab.Models.Student>
@{
    ViewData["Title"] = "Student";
}
<style>
    a {
        color: white;
    }
</style>
<h1>Student List</h1>

<table class="table mt-3">
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Jurusan</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.id)</th>
                <td>
                    @Html.DisplayFor(modelItem => item.nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jurusan)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id"><span class="badge bg-success">Details</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>


